:root {
    --bg-color: #f0f2f5;
    --container-bg: #f0f2f5;
    --border-color: #d9d9d9;
    --skill-bg: #ffffff;
    --skill-border: #e0e0e0;
    --text-primary: #333333;
    --text-secondary: #666666;
    --accent-color: #4b0082;
    --highlight-color: #9370db;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #f0ad4e;
    --texture-line-color: rgba(0, 0, 0, 0.002);
    --black-shadow: #000;
    --gradient-purple: linear-gradient(135deg, #8a2be2, #4b0082);
}

body.dark-mode {
    --bg-color: #1a1a1a;
    --container-bg: #1a1a1a;
    --border-color: #444444;
    --skill-bg: #2c2c2c;
    --skill-border: #444444;
    --text-primary: #f0f0f0;
    --text-secondary: #a9a9a9;
    --texture-line-color: rgba(255, 255, 255, 0.02);
}

body.classic-mode {
    --bg-color: #f0f2f5;
    --container-bg: #f0f2f5;
    --border-color: #dddddd;
    --skill-bg: #ffffff;
    --skill-border: #dddddd;
    --text-primary: #000000;
    --text-secondary: #8e8e93;
    --accent-color: #34c759; /* Green from image */
    --highlight-color: #ff9500; /* Orange from image */
    --danger-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #f0ad4e;
    --gradient-purple: #000000; /* Solid black for active elements */
    --classic-shadow: 3px 3px 0px var(--text-primary);
    --classic-shadow-pressed: 1px 1px 0px var(--text-primary);
    --classic-shadow-white: 3px 3px 0px #fff;
}


body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}